* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Open Sans", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

input {
    outline: none;
    margin: 0;
    border: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
}

.wrapper {
    margin: 0 auto;
}

.wrapper--w790 {
    max-width: 790px;
}

.page-wrapper {
    min-height: 100vh;
}

.bg-gra {
    background: rgb(247,187,151);
    background: linear-gradient(27deg, rgba(247,187,151,1) 0%, rgba(221,94,137,1) 87%);
}

.p-t-45 {
    padding-top: 45px;
}

.p-b-50 {
    padding-bottom: 50px;
}
.m-b-55 {
    margin-bottom: 55px !important;
}

.m-r-55 {
    margin-right: 55px;
}

.m-l-125 {
    margin-left: 125px;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-heading {
    padding: 20px 0;
    background: #1a1a1a;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 52px 85px;
    padding-bottom: 73px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.name {
    width: 125px;
    color: #555;
    font-size: 15px;
    font-weight: 700;
}

.value {
    width: calc(100% - 125px);
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row-space {
    justify-content: space-between;
}

.col-2 {
    width: calc((100% - 30px) / 2);
}

.input-group-desc {
    position: relative;
}

.input-group {
    position: relative;
    margin: 0;
}

.input--style-5 {
    background: #e5e5e5;
    line-height: 50px;
    border-radius: 5px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.label--desc {
    position: absolute;
    text-transform: capitalize;
    display: block;
    color: #999;
    font-size: 14px;
    margin: 0;
    margin-top: 7px;
    left: 0;
}

.radio-container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    color: #666;
    user-select: none;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-container input:checked ~ .checkmark::after {
    display: block;
}

.radio-container .checkmark::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: lightcoral;
    content: "";
    position: absolute;
    display: none;
}

.checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    background-color: #e5e5e5;
}

button {
    border:none;
    background: transparent;
    padding:0 24px;
    font-size:16px;
    line-height:52px;
    position:relative;
    color:#3E4651;
    cursor:pointer;
    letter-spacing: 0.5px;
    font-weight: bold;
}

button::before {
    content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 48px;
	background: transparent;
	border: 2px solid lightcoral;
	z-index: 1;
	border-radius: 5px;
	transition: 0.3s ease-in-out;
}

button::after {
    content: "REGISTER";
    line-height: 30px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	height: 30px;
	width: 80%;
	z-index: 1;
    transition: 0.3s linear;
}

button:hover::after {
    opacity: 1;
	background: lightcoral;
}

button:hover {
    color: #fff;
}

button:hover::before {
    width: 100%;
	background: lightcoral;
	box-shadow: 0 10px 90px -2px rgba(#000, 0.2);
}

.error {
    color: red;
}