@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #3bb6ba;
    font-weight: 300;
    background: url(/img/background@2x.png) no-repeat center center fixed;
    background-size: contain;
    background-position-x: right;
    background-color: thistle;
}

