@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #3bb6ba;
    font-weight: 300;
    background: url(/img/background@2x.png) no-repeat center center fixed;
    background-size: contain;
    background-position-x: right;
    background-color: thistle;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
        font-size: 40px;
        font-weight: 200;
    }
}

.wrapper {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 400px;
    margin-top: -200px;
    overflow: hidden;
    /* background: #3bb6ba; */
}

.container {
    max-width: 600px;
    /* margin: 0 auto; */
    padding: 80px 0;
    height: 400px;
    text-align: center;
}
